@{
    ViewBag.Title = "ArticleType";
    Layout = "~/Views/Shared/_BlogManagerLayout.cshtml";
}
@section Head{
    @Html.StyleSheet("validate/pagevalidator.css")
    @Html.JavaScript("validate/pagevalidator_v2.js")
    @Html.StyleSheet("lib/jquery-ui-1.8.11.custom.css")
    @Html.JavaScript("lib/jquery-ui.min.js")
    @Html.JavaScript("cotide/cotide.dialog.init.js")
}
@using Cotide.Web.Controllers.BlogManager.ViewModel.Ad
@model List<AdViewModel>
      <script type="text/javascript">
          function DeleteAd(obj) {
              if (confirm('是否删除该广告')) {
                  location = $(obj).attr("ref");
              }
          }
          function UpdateAd(obj) {
              var url = $(obj).attr("ref");
              cotide.dialog.open(url, "修改文章分类", 780, 230, function () {
                  location = '@Url.Action("AdManager", "BlogManager")';
              });
          } 
  </script> 
<legend>
        <h4>
             广告管理</h4>
    </legend>
    @ViewData["alert"]
     @using (Html.BeginForm("CreateAd", "BlogManager", FormMethod.Post, new { id = "AdAdFrom", @enctype = "multipart/form-data" }))
     { 

        <h5>
        新增广告</h5> 
         
            <p>
        @Html.ValidationExSummary("AdAdFrom")
    </p><p>
          <label class="required">
            广告图片  (940px X 450px) ：</label> 
            <input type="file" name="AdImg" id="AdImg" /> 
         </p>
    <p>
        <label class="required">
            广告名称 ：</label>

          @Html.TextBoxEx("AdName", new
     {
         @style = "width: 500px; color: Silver;",
         @title = "广告名称",
         @maxlength = "50",
         @placeholder = "请输入广告名称(必填)"
     }, new ValidateOption()
     {
         EmptyMsg = "您还没输入广告名称",
         Description =
             "文章类别格式:1-50位字符",
         Min = 1,
         Max = 50,
         RangeMsg = "请确保文章类别在1-50位字符内"
     })
        @Html.ValidationMessageEx("AdName") 
    </p>
     <p>
         <label class="required">
            广告类型 ：</label>
         @Html.DropDownList("AdType", new List<SelectListItem>()
                                      {
                                          
                                          new SelectListItem()
                                              {
                                                  Selected = true,
                                                  Text = @"首页",
                                                  Value = "0"
                                              }
                                      })
     </p>    
         <p>
         <label class="required">
            广告描述 ：</label> 
                @Html.TextBoxEx("AdDesc", new
           {
               @style = "width: 500px; color: Silver;",
               @title = "广告描述",
               @maxlength = "100",
               @placeholder = "请输入广告描述"
           }, new ValidateOption()
           {
               Min = 0,
               Max = 100,
               RangeMsg = "请确保广告描述在0-100位字符内",
               IsEmpty = true
           })
        @Html.ValidationMessageEx("AdDesc") 
         
         </p>
          <p>
    
      <label class="required" for="password">
            前端显示 ：
        </label>
        @Html.DropDownList("IsShow", new List<SelectListItem>()
                                                                                   {
                                                                                       new SelectListItem()
                                                                                           {
                                                                                               Text = @"公开",
                                                                                               Value = "true"
                                                                                           },
                                                                                       new SelectListItem()
                                                                                           {
                                                                                               Text = @"仅自己可见",
                                                                                               Value = "false"
                                                                                           }
                                                                                   })
    </p>
             <p>
    
      <label class="required"  >
            排序 ：
        </label>
    @Html.TextBox("Sort", "", new
{
    @style = "width: 150px; color: Silver;",
    @title = "排序",
    @placeholder = "请输入排序"
})
    </p>
    <p>
      <button type="submit" class="btn btn-primary"> 保存 </button>
    </p>
     } 
    <h5>
        您已拥有的文章分类</h5> 
<table  class="table  table-hover">
                <tr class="info">
            <td>
                序号
            </td>
             <td>
                广告图片
            </td> 
            <td>
                广告名称
            </td> 
            <td>
                状态
            </td>
            
            <td>
                排序
            </td>
            <td>
                修改
            </td>
            <td>
                彻底删除
            </td>
        </tr>
         @for (int i = 0; i < Model.Count; i++)
         {
             <tr @if ((i % 2) == 0)
                 {
                     @:class="'firseTd'"
                 }  >
                 <td>
                     @(i + 1)
                 </td>
                  <td>
                     <img style="width: 50px;height:50px;" src="@Model[i].SmallAdImg" />
                 </td>
                 <td>
                     @Model[i].AdName 
                 </td>
                  
                 <td>
                     @Html.ActionLink(Model[i].IsShow ? "显示" : "隐藏", "SetAdIsShow", new { @adId = Model[i].Id })  
                 </td>
                 
            <td>
                @Model[i].Sort 
            </td>
                 <td>
                     <a ref="@Url.Action("UpdateAd", "BlogManager", new { @adId = Model[i].Id })" href="javascript:void(0);"
                          onclick="UpdateAd(this)">修改</a>
                 </td>
                 <td>
                     <a href='javascript:void(0);'  ref="@Url.Action("DeleteAd")?adId=@Model[i].Id " 
                        onclick="DeleteAd(this)">删除</a>
                 </td>
             </tr>
         }
        @if (Model.Count <= 0)
        {  
        <tr class="firseTd">
            <td colspan="7" style="text-align: center;">
                暂无数据
            </td>
        </tr>
        } 
        <tfoot>
            <tr>
                <td colspan="7">
                    共有 @Model.Count 条记录
                </td>
            </tr>
        </tfoot>
    </table>
