@{
    ViewBag.Title = "链接类型管理";
    Layout = "~/Views/Shared/_BlogManagerLayout.cshtml";
}
@section Head{
    @Html.StyleSheet("validate/pagevalidator.css")
    @Html.JavaScript("validate/pagevalidator_v2.js")
    @Html.StyleSheet("lib/jquery-ui-1.8.11.custom.css")
    @Html.JavaScript("lib/jquery-ui.min.js")
    @Html.JavaScript("cotide/cotide.dialog.init.js")
}
@using Cotide.Framework.Collections
@using Cotide.Web.Controllers.BlogManager.ViewModel
@model PagedList<Cotide.Web.Controllers.BlogManager.ViewModel.Link.LinkTypeModel>
    <script type="text/javascript">
        function DeleteProjectType(obj) {
            if (confirm('是否删除该链接类型')) {
                location = $(obj).attr("ref");
            }
        }
        function UpdateProjectType(obj) {
            var url = $(obj).attr("ref");
            cotide.dialog.open(url, "修改链接类型", 480, 230, function () {
                location = '@Url.Action("LinkType", "BlogManager")';
            });
        }
    </script>

    @using (Html.BeginForm("LinkType", "BlogManager", FormMethod.Post, new
   {

       @id = "AddLinkTypeFrom",
       @class = "form-horizontal"
   }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">新增链接类型</div>
            <p>
                @Html.ValidationExSummary("AddLinkTypeFrom")
            </p>
            <div class="panel-body">
                <fieldset>
                    <div class="tab-pane active" id="input">
                        <div class="component">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  链接类型名称 ：</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        @Html.TextBoxEx("linkTypeName", new
                                         {
                                             @class = "form-control",
                                             @title = "链接类型名称",
                                             @maxlength = "30",
                                             @placeholder = "请输入链接类型名称(必填)"
                                         }, new ValidateOption()
                                         {
                                             EmptyMsg = "您还没输入链接类型名称",
                                             Description =
                                                 "链接类型名称格式:1-30位字符",
                                             Min = 1,
                                             Max = 255,
                                             RangeMsg = "请确保链接类型名称在1-30位字符内"
                                         })
                                        @Html.ValidationMessageEx("linkTypeName")
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  &nbsp;</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        <button type="submit" class="btn btn-primary"> 保存 </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    }
    
<p>
    @if (TempData["alter"] != null)
    { 
       @Html.Raw(TempData["alter"].ToString())
    }
</p>
<div class="panel panel-default">
        <div class="panel-heading">链接类型管理</div> 
        <table class="table  table-hover">
            <tr class="info">
                <th>
                    序号
                </th>
                <th>
                    链接类型名称
                </th> 
                <th>
                    状态
                </th>
                <th>
                    排序
                </th>
                <th>
                    修改
                </th>
                <th>
                    彻底删除
                </th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr @if ((i % 2) == 0) { @: class="'firseTd'"
                                                                                                                        }>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Model[i].TypeName
                    </td>
                    <td>
                        @Model[i].Sort
                    </td>
                    <td>
                        @Html.ActionLink(Model[i].IsShow ? "显示" : "隐藏", "SetLinkTypeIsShow", new { @linkTypeId = Model[i].Id })
                    </td>
                    
                    <td>
                        <a ref='@Url.Action("UpdateLinkType", "BlogManager", new { @linkTypeId = Model[i].Id })'
                           href="javascript:void(0);"
                           onclick="UpdateProjectType(this)">修改</a>
                    </td>
                    <td>
                        <a href='javascript:void(0);' ref="@Url.Action("DeleteLinkType")?linkTypeId=@Model[i].Id "
                           onclick="DeleteProjectType(this)">删除</a>
                    </td>
                </tr>
            }
            @if (Model.Count <= 0)
            {
                <tr class="firseTd">
                    <td colspan="7" style="text-align: center;">
                        暂无数据
                    </td>
                </tr>
            }
            <tfoot>
                <tr>
                    <td colspan="6">
                        共有 @Model.TotalCount 条记录
                    </td>
                </tr>
            </tfoot>
        </table>
        <p> 
            @Html.Pager("pageIndex", Model.PageSize, Model.TotalCount)
        </p>
    </div>
