@{
    ViewBag.Title = "作品类型管理";
    Layout = "~/Views/Shared/_BlogManagerLayout.cshtml";
}
@section Head{
    @Html.StyleSheet("validate/pagevalidator.css")
    @Html.JavaScript("validate/pagevalidator_v2.js")
    @Html.StyleSheet("lib/jquery-ui-1.8.11.custom.css")
    @Html.JavaScript("lib/jquery-ui.min.js")
    @Html.JavaScript("cotide/cotide.dialog.init.js")
}
@using Cotide.Framework.Collections
@using Cotide.Web.Controllers.BlogManager.ViewModel
@model PagedList<ProjectTypeModel>
    <script type="text/javascript">
        function DeleteProjectType(obj) {
            if (confirm('是否删除该作品类型')) {
                location = $(obj).attr("ref");
            }
        }
        function UpdateProjectType(obj) {
            var url = $(obj).attr("ref");
            cotide.dialog.open(url, "修改作品类型", 480, 230, function () {
                location = '@Url.Action("ProjectType", "BlogManager")';
            });
        }
    </script>

    @using (Html.BeginForm("ProjectType", "BlogManager", FormMethod.Post, new
   {

       @id = "AddArticleTagFrom",
       @class = "form-horizontal"
   }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">新增文章标签</div>
            <p>
                @Html.ValidationExSummary("AddArticleTagFrom")
            </p>
            <div class="panel-body">
                <fieldset>
                    <div class="tab-pane active" id="input">
                        <div class="component">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  作品类型名称 ：</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        @Html.TextBoxEx("projectTypeName", new
                                         {
                                             @class = "form-control",
                                             @title = "作品类型名称",
                                             @maxlength = "30",
                                             @placeholder = "请输入作品类型名称(必填)"
                                         }, new ValidateOption()
                                         {
                                             EmptyMsg = "您还没输入作品类型名称",
                                             Description =
                                                 "作品类型名称格式:1-30位字符",
                                             Min = 1,
                                             Max = 255,
                                             RangeMsg = "请确保作品类型名称在1-30位字符内"
                                         })
                                        @Html.ValidationMessageEx("projectTypeName")
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  &nbsp;</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        <button type="submit" class="btn btn-primary"> 保存 </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">作品类型管理</div>
        <h5>
            您已拥有的文章类别
        </h5>


        <!-- 文章类别列表/开始 -->
        <table class="table  table-hover">
            <tr class="info">
                <td>
                    序号
                </td>
                <td>
                    项目类别名称
                </td>
                <td>
                    状态
                </td>
                <td>
                    修改
                </td>
                <td>
                    彻底删除
                </td>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr @if ((i % 2) == 0) { @: class="'firseTd'"
                                                            }>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Model[i].TypeName
                    </td>
                    <td>
                        @Html.ActionLink(Model[i].IsShow ? "显示" : "隐藏", "SetProjectTypeIsShow", new { @projectTypeId = Model[i].Id })
                    </td>
                    <td>
                        <a ref='@Url.Action("UpdateProjectType", "BlogManager", new { @projectTypeId = Model[i].Id })'
                           href="javascript:void(0);"
                           onclick="UpdateProjectType(this)">修改</a>
                    </td>
                    <td>
                        <a href='javascript:void(0);' ref="@Url.Action("DeleteProjectType")?projectTypeId=@Model[i].Id "
                           onclick="DeleteProjectType(this)">删除</a>
                    </td>
                </tr>
            }
            @if (Model.Count <= 0)
            {
                <tr class="firseTd">
                    <td colspan="6" style="text-align: center;">
                        暂无数据
                    </td>
                </tr>
            }
            <tfoot>
                <tr>
                    <td colspan="6">
                        共有 @Model.TotalCount 条记录
                    </td>
                </tr>
            </tfoot>
        </table>
        <p>
            <!-- 分页/开始 -->
            @Html.Pager("pageIndex", Model.PageSize, Model.TotalCount)
        </p>
    </div>
