@{
    ViewBag.Title = "更新作品";
    Layout = "~/Views/Shared/_BlogManagerLayout.cshtml";
}
@using Cotide.Web.Controllers.BlogManager.ViewModel
@model UpdateProjectModel
@section Head{
    @Html.StyleSheet("validate/pagevalidator.css")
    @Html.JavaScript("validate/pagevalidator_v2.js")
    @Html.JavaScript("lib/ueditor/ueditor.config.js")
    @Html.JavaScript("lib/ueditor/ueditor.all.js")
    <link href="@Html.Context("scripts/lib/ueditor/themes/default/css/ueditor.css")" rel="stylesheet" type="text/css"></link>
}
<script type="text/javascript">
    $(function () {
        var editor = new baidu.editor.ui.Editor();
        editor.render("Content");
    });
</script>


@using (Html.BeginForm("UpdateProject", "BlogManager", FormMethod.Post, new
{
    @id = "UpdateProjectFrom",
    @enctype = "multipart/form-data",
    @class = "form-horizontal"
}))
{
    <div class="panel panel-default">
        <div class="panel-heading">更新作品</div>
    </div>

     <p>
        @Html.ValidationExSummary("UpdateProjectFrom")
    </p>

    <div class="panel-body">
        <fieldset>
            <div class="tab-pane active" id="input">
                <div class="component">

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput"> 作品标题 ：</label>
                        <div class="col-md-10">
                            <span class="help-block">
                                @Html.HiddenFor(x=>x.Id);
                                @Html.TextBoxExFor(x => x.ProjectName, new
                                {
                                    @class = "form-control",
                                    @title = "作品标题",
                                    @maxlength = "255",
                                    @placeholder = "请输入作品标题(必填)"
                                }, new ValidateOption()
                                {
                                    EmptyMsg = "您还没输入作品标题",
                                    Description =
                                        "作品标题格式:1-255位字符",
                                    Min = 1,
                                    Max = 255,
                                    RangeMsg = "请确保作品标题在1-255位字符内"
                                })
                                @Html.ValidationMessageExFor(x => x.ProjectName)
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">  作品简介 ：</label>
                        <div class="col-md-10">
                            <span class="help-block">
                                @Html.TextAreaFor(x => x.Introduction, new
                           {
                               @class = "form-control",
                               @style = "height: 100px;"
                           })
                            </span>
                        </div>

                    </div>

                </div>
            </div>
        </fieldset>

        <div class="panel panel-default">
            <div class="panel-heading">作品内容</div>
        </div>

        <div class="panel-body">
            <fieldset>
                <div class="tab-pane active" id="input">
                    <div class="component">
                        <div class="form-group" style=" padding-top:8px;">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.Content, new { @style = "width: 100%; height: 400px;" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">其他</div>
        </div>  

        <div class="form-group">
            <label class="col-md-2 control-label" for="textinput">     分类 ：</label>
            <div class="col-md-10">
                <span class="help-block">
                    @Html.DropDownListFor(x => x.ProjectTypeId, ViewData["ProjectTypes"] as List<SelectListItem>, new { @class = "form-control" })
                </span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="textinput">     作品图片 ：</label>
            <div class="col-md-10">
                <span class="help-block">
                    <img style="width: 50px; height: 50px;" src="@Model.StandardProjectImg" />
                </span>
            </div>
          
        </div> 
        <div class="form-group">
            <label class="col-md-2 control-label" for="textinput"> 替换图片 ：</label>
            <div class="col-md-10">
                <span class="help-block">
                    <input type="file" name="file" />
                </span>
            </div>

        </div> 
       
        <div class="form-group">
            <label class="col-md-2 control-label" for="textinput">     排序 ：</label>
            <div class="col-md-10">
                <span class="help-block">
                    @Html.TextBoxFor(x => x.Sort, new { @class = "form-control" })

                </span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="textinput">     网址 ：</label>
            <div class="col-md-10">
                <span class="help-block">
                    @Html.TextBoxFor(x => x.WebSite, new { @class = "form-control" })

                </span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="textinput">&nbsp;</label>
            <div class="col-md-10">
                <span class="help-block">
                    <button type="submit" class="btn btn-primary">
                        更新
                    </button>
                </span>
            </div>

        </div>
    </div>

} 