@{
    ViewBag.Title = "UpdateLink";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}
@model Cotide.Web.Controllers.BlogManager.ViewModel.UpdateLinkModel
@Html.StyleSheet("validate/pagevalidator.css")
@Html.JavaScript("validate/pagevalidator_v2.js")

 

<div class="container-fluid">
    @using (Html.BeginForm("UpdateLink", "BlogManager", FormMethod.Post, new
     {
         @Id = "updateLink-form"
     }))
    {

        <div class="panel panel-default">
            <p>
                @Html.ValidationExSummary("updateLink-form")
            </p>

            <div class="panel-body">
                <fieldset>
                    <div class="tab-pane active" id="input">
                        <div class="component">

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  链接文本 ：</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.TextBoxExFor(x => x.LinkTxt, new
                                        {
                                            @class = "form-control",
                                            @title = "链接名称",
                                            @maxlength = "30",
                                            @placeholder = "请输入链接名称(必填)"
                                        }, new ValidateOption()
                                        {
                                            EmptyMsg = "您还没输入链接名称",
                                            Description =
                                                "链接名称格式:1-30位字符",
                                            Min = 1,
                                            Max = 30,
                                            RangeMsg = "请确保链接名称在1-30位字符内"
                                        })
                                        @Html.ValidationMessageExFor(x => x.LinkTxt)
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput"> 链接类型 ：</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        @Html.DropDownListExFor(x=>x.LinkTypeId,
                                    ViewData["LinkTypes"] as List<SelectListItem>,
                                    new DropDownListOption()
                                    {
                                      
                                        Description = "请选择所属链接分类(必填)",
                                        EmptyMsg = "请选择所属链接分类",
                                        IsRequired = false
                                    },null,new
                                    {
                                        @class = "form-control",
                                    })
                                        @Html.ValidationMessageEx("linkType")
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  链接地址 ：</label>
                                <div class="col-md-10">
                                    <span class="help-block">

                                        @Html.TextBoxExFor(x => x.LinkUrl, new
                                      {
                                          @class = "form-control",
                                          @title = "链接名称",
                                          @maxlength = "150",
                                          @placeholder = "请输入链接地址(必填)"
                                      }, new ValidateOption()
                                     {
                                         EmptyMsg = "您还没输入链接名称",
                                         Description =
                                             "链接名称格式:1-150位字符",
                                         Min = 1,
                                         Max = 150,
                                         RangeMsg = "请确保链接地址在1-150位字符内"
                                     })
                                        @Html.ValidationMessageExFor(x => x.LinkUrl)
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  状态 ：</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        @Html.DropDownListFor(x => x.IsShow, new List<SelectListItem>()
                                                                 {
                                                                 new SelectListItem(){ Text="显示", Value="true"},
                                                                 new SelectListItem(){ Text="隐藏",Value="false"}
                                                                 },new{
                                                                     @class = "form-control"
                                                                 })
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">  &nbsp;</label>
                                <div class="col-md-10">
                                    <span class="help-block">
                                        <button type="submit" class="btn btn-primary"> 保存 </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div> 
    } 
</div>