@{
    ViewBag.Title = "UpdateProjectType";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}
@using Cotide.Web.Controllers.BlogManager.ViewModel
@model UpdateProjectTypeModel

    
 
   @using (Html.BeginForm("UpdateProjectType", "BlogManager", FormMethod.Post, new { @Id = "login-form", 
       @onsubmit = "return check()",
       @class = "form-horizontal"}))
      { 
        

    <div class="panel panel-default">
        <p>
            @Html.ValidationExSummary("login-form")
        </p>
         
        <div class="panel-body">
            <fieldset>
                <div class="tab-pane active" id="input">
                    <div class="component">

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">     项目类别名称 ：</label>
                            <div class="col-md-10">
                                <span class="help-block">
                                                                      
                                   @Html.TextBoxExFor(x => x.TypeName, new
                                      {
                                         @class = "form-control",
                                         @title = "项目类型名称",
                                         @maxlength = "30",
                                         @placeholder = "请输入项目类型名称(必填)"
                                     }, new ValidateOption()
                                     {
                                         EmptyMsg = "您还没输入项目类型名称",
                                         Description =
                                             "项目类型名称格式:1-30位字符",
                                         Min = 1,
                                         Max = 255,
                                         RangeMsg = "请确保项目类型名称在1-30位字符内"
                                     })  
                                    @Html.ValidationMessageExFor(x => x.TypeName)
                                    @Html.HiddenFor(x => x.Id) 
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">     状态 ：</label>
                            <div class="col-md-10">
                                <span class="help-block">
                                    @Html.DropDownListFor(x => x.IsShow, new List<SelectListItem>()
                                    {
                                        new SelectListItem(){ Text=@"显示", Value="true"},
                                        new SelectListItem(){ Text=@"隐藏",Value="false"}
                                    }, new
                                    {
                                        @class = "form-control",
                                    })
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">  &nbsp;</label>
                            <div class="col-md-10">
                                <span class="help-block">
                                    <button type="submit" class="btn btn-primary"> 保存 </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}  